body{
    margin: 0;
    font-family: sans-serif;
    background-color: #14213d !important;
}

h2{
    font-size: 36px !important;
}

.container {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
      /*background: rgba(197, 184, 164, 0.3);*/
      background-color: #e5e5e5;
}

select {
    width: 100%;
}

.time{
    font-size: 46px;
    font-weight: bold;
    line-height: 36px;
}

.time small {
font-size: 24px;
}

.city{
     border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
     padding: 10px;
}

.city:last-child{
    border: none;
}

a {
    color: #ffc2d1 !important;
}