body{
    margin: 0;
    font-family: sans-serif;
    background-color: #14213d;
}

h2{
    font-size: 36px;
}

.container {
    padding: 20px;
    margin: auto;
    max-width: 90%;
    border-radius: 10px;
    background-color: #e5e5e5;

select {
    width: 100%;
}

.time{
    font-size: 46px;
    font-weight: bold;
    line-height: 30px;
}

.city{
     border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
     padding: 10px;
}

.city:last-child{
    border: none;
}

a {
    color: #ffc2d1;
}